.navbar {
    height: 80px !important;
}

.nav-link {
    font-weight: 700 !important;
}

.dropdown-item {
    font-weight: 700 !important;
}


.carousel-item>img {
    max-width: 100% !important;
    height: 400px !important;
    object-fit: cover;
}

.card {
    width: 100% !important;
}

.card>img {
    height: 300px;
    object-fit: cover;
}

footer {
    height: 100%;
}

.decorate-footer {
    padding: 20px;
}

.decorate-footer>a {
    color: black;
    text-decoration: none;
}

.dropdown-menu > li > a:hover{
    cursor: pointer;
}
